<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discussion Details</title>
</head>

<body>
<header class="bg-success">
    <nav class="navbar navbar-expand-sm navbar-light bg-success">
        <div class="container">
            <a class="navbar-brand" href="#">Db.</a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav m-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/" aria-current="page">Home
                            <span class="visually-hidden">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<main class="container mt-5">
    <div class="row">
        <div class="card border-4 border-success rounded">
            <h1 th:text="${discussion.title}"></h1>
            <p><strong>Author:</strong> <span th:text="${discussion.author}"></span></p>
            <p><strong>Date:</strong> <span th:text="${#temporals.format(discussion.date, 'yyyy-MM-dd HH:mm')}"></span></p>
            <p th:text="${discussion.content}"></p>
        </div>
    </div>
    <div class="row">
        <h2>Comments</h2>
        <ul>
            <li th:each="comment : ${comments}" class="card border-black border-4 p-4 m-2">
                <p th:text="${comment.content}"></p>
                <p><strong>Author:</strong> <span th:text="${comment.author}"></span></p>
                <p><strong>Date:</strong> <span th:text="${#temporals.format(comment.date, 'yyyy-MM-dd HH:mm')}"></span></p>
            </li>
        </ul>
    </div>

    <div class="row">
        <form action="/new-post" method="post">
            <div class="mb-3">
                <label for="content" class="form-label">Post new content</label>
                <textarea class="form-control" id="content" name="content" required></textarea>
            </div>
            <input type="hidden" name="discussionId" th:value="${discussion.id}">
            <button type="submit" class="btn btn-success">Create new Post</button>
        </form>
    </div>
</main>

<footer class="bg-success text-white text-center py-3 mt-5">
    <p>&copy; 2025 Discussion Board. Matthew Azada.</p>
</footer>
</body>

</html>